<!-- <div class="container text-center">
    <div class="row">
      <div class="col" *ngFor="let i of myData">
        <div class="card" style="width: 18rem; height: 35rem;">
            <img src="..." class="card-img-top"  src="{{i.images}}" alt="..." height="200">
            <div class="card-body">
              <h5 class="card-title">{{i.name}}</h5>
              <p class="card-text" style="height:80px">{{i.description}}</p>
            </div>
            <button (click)="gotoHere(i.id)" class="btn btn-outline-primary" >view more</button>
             <button (click)="gotoHere(i.id)" class="btn btn-outline-primary" >buy</button>
            
          </div>
      </div>
  </div>
</div> -->







 <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

<section class="hero-section">
  <div class="card-grid" >
    <a class="card" href="#">
      <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1605807646983-377bc5a76493?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGNob2NvbGF0ZSUyMGNha2V8ZW58MHx8MHx8&w=1000&q=80)"></div>
      <div class="card__content">
        <p class="card__category">Category</p>
        <h3 class="card__heading">Example Card Heading1</h3>
      </div>
    
    </a>
    
    <a class="card" href="#">
      <div class="card__background" style="background-image: url(https://assets.winni.in/c_limit,dpr_1,fl_progressive,q_80,w_1000/31158_vanilla-cake.jpeg)"></div>
      <div class="card__content">
        <p class="card__category">Category</p>
        <h3 class="card__heading">Example Card Heading</h3>
      </div>
    </a>
    <a class="card" href="#">
      <div class="card__background" style="background-image: url(https://cdn.shopify.com/s/files/1/0521/3929/4884/products/RedVelvetCake1.jpg?v=1632143747)"></div>
      <div class="card__content">
        <p class="card__category">Category</p>
        <h3 class="card__heading">Example Card Heading</h3>
      </div>
    </a>
    
    <a class="card" href="#">
      <div class="card__background" style="background-image: url(https://wallpaperaccess.com/full/6903843.jpg)"></div>
      <div class="card__content">
        <p class="card__category">Category</p>
        <h3 class="card__heading">Example Card Heading</h3>
      </div>
    </a>
    <a class="card" href="#">
        <div class="card__background" style="background-image: url(https://media.istockphoto.com/id/1167344045/photo/cheesecake-slice-new-york-style-classical-cheese-cake.jpg?b=1&s=170667a&w=0&k=20&c=cYN0DAhRQ0tLX8E8ndgU3GFfG7ilMZ3GcIJGj6Mqyxw=)"></div>
        <div class="card__content">
          <p class="card__category">Category</p>
          <h3 class="card__heading">Example Card Heading</h3>
        </div>
      </a>
      <a class="card" href="#">
        <div class="card__background" style="background-image: url(https://images.pexels.com/photos/1938268/pexels-photo-1938268.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500)"></div>
        <div class="card__content">
          <p class="card__category">Category</p>
          <h3 class="card__heading">Example Card Heading</h3>
        </div>
      </a>
      <a class="card" href="#">
        <div class="card__background" style="background-image: url(https://handletheheat.com/wp-content/uploads/2022/06/angel-food-cake-recipe-SQUARE.jpg)"></div>
        <div class="card__content">
          <p class="card__category">Category</p>
          <h3 class="card__heading">Example Card Heading</h3>
        </div>
      </a>
      <a class="card" href="#">
        <div class="card__background" style="background-image: url(https://img.freepik.com/premium-photo/homemade-cherry-pie-with-delicious-berries-juicy-cherries_124507-22892.jpg?w=2000)"></div>
        <div class="card__content">
          <p class="card__category">Category</p>
          <h3 class="card__heading">Example Card Heading</h3>
        </div>
      </a>
      <a class="card" href="#">
        <div class="card__background" style="background-image: url(https://www.mrbrownbakery.com/public/image/images/zwe2k7YX3gQeb8its1T3umybegTbceJaFQ7qBtBc.jpeg?p=full)"></div>
        <div class="card__content">
          <p class="card__category">Category</p>
          <h3 class="card__heading">Example Card Heading</h3>
        </div>
      </a>
      <a class="card" href="#">
        <div class="card__background" style="background-image: url(https://img.onmanorama.com/content/dam/mm/en/food/in-season/images/2019/12/12/marble-cake.jpg.transform/schema-16x9/image.jpg)"></div>
        <div class="card__content">
          <p class="card__category">Category</p>
          <h3 class="card__heading">Example Card Heading</h3>
        </div>
      </a>
      <a class="card" href="#">
        <div class="card__background" style="background-image: url(https://www.fnp.com/images/pr/x/v20221205202014/blackforest-cake-1kg_1.jpg)"></div>
        <div class="card__content">
          <p class="card__category">Category</p>
          <h3 class="card__heading">Example Card Heading</h3>
        </div>
      </a>
      <a class="card" href="#">
        <div class="card__background" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQk0kFFSLFSAQVFA1b5UcnvWcfwI6yE7Q_CA&usqp=CAU)"></div>
        <div class="card__content">
          <p class="card__category">Category</p>
          <h3 class="card__heading">Example Card Heading</h3>
        </div>
      </a>
</div>
</section> -->
<!-- <div class="wrapper" style="display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); grid-gap: 20px;">
  <div class="card" *ngFor="let i of myData">
    <img [src]="i.images" />
    <div class="info">
      <h1>{{ i.name }}</h1>
      <p>{{ i.description }}</p>
      <button>Read More</button>
    </div>
  </div>
</div> -->











<div class="wrapper" style="display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); grid-gap: 20px;">
  <div class="card" *ngFor="let i of myData">
    <img [src]="i.images" />
    <div class="info">
      <h1>{{ i.name }}</h1>
      <p>{{ i.description }}</p>
      <button (click)="gotoHere(i.id)">view more</button>        
      <button (click)="addToCart(i)"> Buy{{i.price|currency:'INR'}}</button>
    </div>
  </div>
</div>