/* body {
	margin: 0;
	padding: 0;
	background-image: url("../../../assets/images/Cheesecake.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.recipe {
	margin: 0 auto;
	max-width: 800px;
	padding: 30px;
}

h1 {
	font-size: 36px;
	text-align: center;
	margin-bottom: 20px;
}

h4 {
	font-size: 24px;
	margin-bottom: 10px;
}



@media print {
	.recipe {
		max-width: none;
		padding: 0;
	}

	h1 {
		page-break-after: avoid;
	}
} */

    .recipe {
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 10px;
    }
    
    .recipe h1 {
        text-align: center;
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    
    .recipe h4 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    .recipe p {
        font-size: 20px;
        line-height: 1.5;
        margin-bottom: 20px;
    }
    
    .left-content {
        float: left;
        margin-right: 20px;
    }
    
    .left-content img {
        border-radius: 10px;
    }

