<!-- <div class="container">
    <div class="row">
        <div class="col mb-2 mt-5">
            
            <img src="{{recipe[0].images}}" class="img7" alt=".." height="300" width="300">
        </div>
    </div>
     <h1>
        {{recipe[0].name}}</h1>
    <h6>
        {{recipe[0].description1}}
    </h6>
</div> -->

<!-- <div class="split-container">
    <div class="left-content">
        <img src="{{recipe[0].image1}}" class="img7" alt=".." height="300" width="300">
    </div>
    <div class="right-content">
       
       <h1 class="display-6">{{recipe[0].name}}</h1>
       <p><i [innerHTML]="recipe[0].description1"></i></p>
    </div>
 </div>  -->
  <div class="recipe">
    <h1>{{recipe[0].name}}</h1>
   
    <h4>
        <p><i [innerHTML]="recipe[0].description1"></i></p>
    </h4>
</div>
<div class="left-content">
    <!-- <img src="{{recipe[0].image1}}" class="img7" alt=".." height="300" width="300"> -->
</div> 


 
 
     