<div class="card">
    <img src="../../../assets/images/thecakecompany.png" alt="Cake Image">
    <div class="card-content">
      <h2>About Us</h2>
      <p><i>Welcome to cake company!<br> We are passionate about creating delicious and beautiful cakes for all occasions. Our mission is to bring happiness and joy to our customers' lives through our creative and tasty cake designs.<br>

        At our bakery, we use only the freshest and highest quality ingredients to make our cakes. Our team of expert bakers and decorators work tirelessly to create cakes that are not only visually stunning but also incredibly delicious.<br>
        
        We offer a wide range of cake flavors, fillings, and designs to choose from. Whether you're looking for a simple and elegant cake for a wedding or an over-the-top cake for a birthday celebration, we have something for everyone.
        
      </i>
        
       </p>
     
    </div>
  </div>
  