<div class="contact">
    <h2 class="contact-title">
      DO YOU HAVE ANY QUERY?
    </h2>
    <div class="contact-form">
      <label for="name">
        <span class="input-name">
          Name:
        </span>
        <input type="text" name="name" id="name" class="name"  [(ngModel)]="name">
      </label>
      <label for="email">
        <span class="input-name">
          Email address:
        </span>
        <input type="text" name="email" id="email" class="email"  [(ngModel)]="email">
      </label>
      <label for="project-info">
        <span class="input-name">
          Tell me:
        </span>
        <textarea name="project-info" id="project-info" class="project-info"  [(ngModel)]="info"></textarea>
      </label>
      <button class="btn send-btn" (click)="contactus()">
        Send
      </button>
    </div>
  </div>
